


:root
{
    
    @import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
    </
 
  font-family: 'Ms Madi', cursive;
}



.container{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5vh 15vh 40vh 15vh 5vh 5vh;
    grid-gap: 2%;
    padding-left: 0%;
    padding-right: 0%;

}

header{

    text-align: end;
    padding: 1%;
    font-size: 100%;

    background-color: rgb(210, 246, 248);
    grid-column: 1/7;
    grid-row:1/1 ;

    min-width: 0%;
    max-width: 100%;


    min-height: 0%;
    max-height: 100%;
    

}
nav{

    text-align:center ;
    padding: 0%;
    font-size: 210%;
    border-radius: 8%;

    background-color:rgb(190, 244, 247)  ;
    grid-column:1/7;
    grid-row: 2/2;

    min-width: 0%;
    max-width: 100%;

    min-height: 0%;
    max-height: 100%;

}


.primeiro{
    font-family: 'Mscen Madi', cursive;  
    font-size: 100%;

    min-width: 0%;
    max-width: 100%;

    min-height: 0%;
    max-height: 100%;
    
}

main{
    background-color: rgb(210, 246, 248);
    grid-column: 1/2;
    grid-row: 3/5;

    min-width: 0%;
    max-width: 100%;

    min-height: 50%;
   
}

section{

  text-align:justify;
    padding: 1%;
    font-size: 132%;

    background-color:rgb(210, 246, 248);
    grid-column:3/7;
    grid-row:  3/3;

    min-width: 0%;
    max-width: 100%;

    min-height: 0%;
    max-height: 100%;
    
}

#a0{

    background-color: rgb(210, 246, 248);
    grid-column: 4/5 ;
    grid-row: 4/4;

    min-width: 0%;
    max-width: 100%;

    min-height: 0%;
    max-height: 100%;


}

#a1{

    text-align:justify;
    padding: 1%;
    font-size: 30%;

    background-color: rgb(210, 246, 248);
    grid-column: 3/4;
    grid-row: 4/4;

    min-width: 0%;
    max-width: 100%;

    min-height: 0%;
    max-height: 100%;

    
}

#a2{

    text-align:justify;
    padding: 1%;
    font-size: 30%;

    background-color: rgb(210, 246, 248);
    grid-column:5/6;
    grid-row:4/4;

    min-width: 0%;
    max-width: 100%;

    min-height: 0%;
    max-height: 100%;

}

#a3{

    
    text-align:justify;
    padding: 1%;
    font-size: 30%;

    background-color: rgb(210, 246, 248);
    grid-column:6/7;
    grid-row:4/4;


    min-width: 0%;
    max-width: 100%;


    min-height: 0%;
    max-height: 100%;

}

#a4{

    text-align:justify;
    padding: 0%;
    font-size: 157%;

    background-color: rgb(210, 246, 248);
    grid-column:1/7;
    grid-row:5/5;

    min-width: 0%;
    max-width: 100%;

    min-height: 0%;
    max-height: 100%;


}

footer{

    text-align:justify;
    padding: 0%;
    font-size: 100%;
    background-color:rgb(210, 246, 248);
    grid-column:1/7 ;
    grid-row:  6/7;

    min-width: 0%;
    max-width: 100%;


    min-height: 0%;
    max-height: 100%;


}

body{
    background-color: rgb(210, 246, 248);
}